@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: white;
  --background-start: #2c007d;  /* Light purple */
  --background-middle: #000000; /* Dark purple */
  --background-end: #000000;    /* Black */
}

body {
    background: linear-gradient(to bottom, 
      var(--background-start) 0%,
      var(--background-middle) 20%,
      var(--background-end) 70%) !important;
  color: white;
  font-family: Arial, sans-serif;
  background-attachment: fixed; /* This ensures the gradient doesn't repeat */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}