@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030419;
    --foreground: #bd1919;
  }
}

/* styles/globals.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #030419; /* Set the background color to black */
  color: white; /* Set the text color to white for better contrast */
  font-family: Arial, sans-serif; /* You can change the font family if desired */
}

#__next {
  display: flex; /* Allows you to position your main content next to the sidebar */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
