/* styles/Home.module.css or global.css */
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.closed + .content {
    margin-left: 0;
  }
  